Repository bcgov/citz-sbc-queue, pull requests merged in 2025-08, with the labels that each got.

#1 SBCQ-5 Initial Setup
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/compose.yml
  .devcontainer/devcontainer.json
  .dockerignore
  .editorconfig
  .gitattributes
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  .github/copilot-instructions.md
  .github/workflows/build-push.yaml
  .github/workflows/pr-auto-assign.yaml
  .github/workflows/pr-labeler.yaml
  .github/workflows/update-gitops-dev.yaml
  .gitignore
  .npmrc
  .vscode/extensions.json
  .vscode/settings.json
  DEPENDENCIES.md
  Dockerfile.prod
  README.md
  biome.json
  next.config.ts
  package.json
  playwright.config.ts
  postcss.config.mjs
  public/bcgov/BCID_H_RGB_pos.svg
  public/bcgov/BCID_H_RGB_rev.svg
  public/bcgov/BCID_H_Solid_pos.svg
  public/bcgov/BCID_H_Solid_rev.svg
  public/bcgov/BCID_V_RGB_pos.svg
  public/bcgov/BCID_V_RGB_rev.svg
  public/bcgov/BCID_V_Solid_pos.svg
  public/bcgov/BCID_V_Solid_rev.svg
  scripts/check-licenses.js
  src/app/api/route.ts
  src/app/appointments/[id]/page.tsx
  src/app/appointments/page.tsx
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  tailwind.config.ts
  tsconfig.json
  vitest.config.ts
Labels: Action, Config, App

#4 [SBCQ-22] Auth util functions and types
  src/utils/auth/constants.ts
  src/utils/auth/getAuthContext.test.ts
  src/utils/auth/getAuthContext.ts
  src/utils/auth/jwt/decodeJWT.test.ts
  src/utils/auth/jwt/decodeJWT.ts
  src/utils/auth/jwt/isJWTValid.test.ts
  src/utils/auth/jwt/isJWTValid.ts
  src/utils/auth/token/getNewTokens.test.ts
  src/utils/auth/token/getNewTokens.ts
  src/utils/auth/token/getTokens.test.ts
  src/utils/auth/token/getTokens.ts
  src/utils/auth/types.ts
  src/utils/auth/url/getLoginURL.test.ts
  src/utils/auth/url/getLoginURL.ts
  src/utils/auth/url/getLogoutURL.test.ts
  src/utils/auth/url/getLogoutURL.ts
  vitest.config.ts
Labels: App, Util

#11 SBCQ-16 Tailwind Theme & BC Design System
  public/fonts/BCSans-Bold.woff2
  public/fonts/BCSans-BoldItalic.woff2
  public/fonts/BCSans-Italic.woff2
  public/fonts/BCSans-Regular.woff2
  public/fonts/FONTLOG_README.txt
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/app/styles/bcgov/colours.css
  src/app/styles/bcgov/spacing.css
  src/app/styles/globals.css
  tailwind.config.ts
Labels: App

#10 [SBCQ-28] Frontend auth middleware
  src/app/api/auth/login/callback/route.test.ts
  src/app/api/auth/login/callback/route.ts
  src/app/api/auth/login/route.test.ts
  src/app/api/auth/login/route.ts
  src/app/api/auth/logout/route.test.ts
  src/app/api/auth/logout/route.ts
  src/app/api/auth/token/route.test.ts
  src/app/api/auth/token/route.ts
  src/app/protected/page.tsx
  src/middleware.ts
  src/middleware/README.md
  src/middleware/auth.test.ts
  src/middleware/auth.ts
Labels: App

#12 [SBCQ-52] Refactor id token out of frontend store
  src/stores/auth/api.test.ts
  src/stores/auth/api.ts
  src/stores/auth/store.test.ts
  src/stores/auth/store.ts
  src/stores/auth/timers.ts
Labels: App

#18 [SBCQ-37] Dialog components
  src/app/page.tsx
  src/app/styles/globals.css
  src/components/ExampleDialog.tsx
  src/components/ExampleModal.tsx
  src/components/common/dialog/CloseButton.tsx
  src/components/common/dialog/Dialog.tsx
  src/components/common/dialog/DialogActions.tsx
  src/components/common/dialog/DialogBody.tsx
  src/components/common/dialog/DialogContext.tsx
  src/components/common/dialog/DialogHeader.tsx
  src/components/common/dialog/DialogTitle.tsx
  src/components/common/dialog/Modal.tsx
  src/components/common/dialog/constants.ts
  src/components/common/dialog/index.ts
  src/components/common/dialog/types.ts
  src/hooks/useDialog/types.ts
  src/hooks/useDialog/useDialog.test.ts
  src/hooks/useDialog/useDialog.ts
Labels: App
